@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

@import "tailwindcss";

:root {
  /* Font-Family */
  --font-inter: "Inter", sans-serif;
}

@theme {
  /* Primary colors */
  --color-primary-dark: #003f1f;
  --color-primary: #016130;
  --color-primary-light: #01ae56;
  --color-primary-transparent: #01ae5633;

  /* Secondary colors */
  --color-secondary-dark: #382100;
  --color-secondary: #ffa725;
  --color-secondary-light: #fff5e7;
  --color-secondary-transparent: #ffa72580;
  /* Neutral colors */
  --color-neutral-dark: #000000;
  --color-neutral: #3c3c3c;
  --color-neutral-light: #ffffff;
  --color-text-neutral: #2f2e38;

  --color-grey-100: #ddd5dd;
  --color-grey-200: #98a2b3;
  --color-grey-300: #545454;
}

html,
body,
#root {
  box-sizing: border-box;
  font-family: var(--font-inter);
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}
.navlink a {
  color: var(--color-neutral-dark);
  transition: color 0.3s ease;
}
.navlink a:hover {
  color: var(--color-primary);
}
.border-custom-opacity {
  opacity: 0.4;
}
.font-rubik {
  font-family: "Rubik", sans-serif;
}

.text-color-secondary {
  color: var(--color-secondary);
}

.text-custom-color {
  color: #2f2e38;
}
