:root {
  /* Font-Family */
  --font-inter: "Inter", sans-serif;

  /* Primary colors */
  --color-primary-dark: #003f1f;
  --color-primary: #016130;
  --color-primary-light: #01ae56;

  /* Secondary colors */
  --color-secondary-dark: #382100;
  --color-secondary: #ffa725;
  --color-secondary-light: #fff5e7;

  /* Neutral colors */
  --color-neutral-dark: #000000;
  --color-neutral: #3c3c3c;
  --color-neutral-light: #ffffff;
}

html,
body,
#root {
  font-family: "Inter", sans-serif;
  background-image: url("./assets/images/Background-Image.png");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
}
.navlink a {
  color: var(--color-neutral-dark);
  transition: color 0.3s ease;
}
.navlink a:hover {
  color: var(--color-primary);
}
