/* Hamburger Menu animation */
  /* @keyframes slideDown {
    0%{
      opacity: 0;
      transform: translateY(-1rem);
    }
    100%{
      opacity: 1;
      transform: translateY(0);
    }

  }
  @keyframes slideUp {
    0%{
      opacity: 1;
      transform: translateY(0);
    }
    100%{
      opacity: 0;
      transform: translateY(-1rem);
    }
  }
  .menu-animate-down{
    animation: slideDown 0.3s ease-out forwards;
  }
  .menu-animate-up{
    animation: slideUp 0.3s ease-in forwards;
  } */